*{
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
   height: 100vh;
    position: relative;
  background-color:cornflowerblue;
}
h1{
    color: #222;
    text-shadow: 6px 0px 8px rgb(151, 79, 79);
    font-family:fantasy;
    font-size: 40px;
    text-align: center;
    
   
    
}

  

.cart{
    padding-top: 2vh;
    text-align: center;
    line-height: 2em;
    border: solid grey 2px;
    border-radius: 5px;
    background-color: rgba(245, 245, 220, 0.695);
    box-shadow: 2px 2px 8px black;
    width: 70%;
    height: 80vh;
    position: absolute;
    left: 15%;
    top: 10%;
}
.cart img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px black;

}
.cart:hover{
    background-color: rgba(255, 224, 183, 0.675);
}
.name{
    color: #222;
    text-shadow: 2px 0px 8px ;
    
}
.capitale{
    color: rgb(99, 99, 177);
    font-weight: 700;
    text-shadow: 2px 0px 8px ;
}
.language{
    color: rgb(99, 154, 177);
    font-weight: 500;
    text-shadow: 2px 0px 8px ;
}
.continent{
    color: red;
    font-weight: 500;
    text-shadow: 2px 0px 8px ;
}
.population{
    color: #222;
    font-weight: 700;
    text-shadow: 2px 0px 8px ;
}
.area{
    color: rgb(99, 99, 177);
    font-weight: 700;
    text-shadow: 2px 0px 8px ;
}
.currency{
    color: rgb(99, 154, 177);
    font-weight: 500;
    text-shadow: 2px 0px 8px ;
}
.timezone{
    color: red;
    font-weight: 500;
    text-shadow: 2px 0px 8px ;
}
